body
{background-color:#424242;
 width:970px;
 margin: auto;
 padding: 0;
 border: 0;
 height: 100%; 
 max-height: 100%; 
 font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}

#header
{
	height:100%;
	background-repeat: no-repeat;
	background-position: top left;
	overflow: hidden;
	width:990px;
}

#banner
{
float: left;
margin-top:20px;
position:relative;
}

#banner img
{
float:left;
}

#banner h1
{
#font:normal 46px/1.2em Arial, Helvetica, sans-serif; 
color:#fed41d;
float: left;
margin-left:30px;
}

#nav ul
{ 
    position:relative;
    margin-top:-30px;
    margin-left:300px;
    list-style-type:none;     
} 

#nav ul li
{
    float:left; 
    margin-left:20px; 
    position: relative;    
}

#nav ul li a
{ 
    text-decoration:none; 
    font-size:16px;
    color:white;
} 

#nav ul li a:hover
{
 color:#f3d64d;
}


#main{
/*background-color:#f3d64d;*/
background-color:#8C1515;
padding:8px;
border: 2px #333 solid;
float:left;
width:970px;
margin-top:-3px;
}

#main h1
{
margin-left:10px;
/*color:#504A4B;*/
color:#fbfbf9;
}

#main h2
{
/*color:#FBB117;*/
color:#820000;
margin-left:10px;
margin-top:20px;
text-transform: uppercase;
letter-spacing: .15em;
font-size: 1.5em;
border-bottom: 1px #383D44 dashed;
font-weight: normal;
}

#main img
{
float: left;
padding: 4px;
margin: 0px 10px 0 0;
border: 0px;
background-color: 0;
}

#content{
background-color:white;
padding:15px;
border: 2px #333 solid;
float:left;
width:936px;
}


#box1
{
float:left;
}

#box2
{
float:left;
}

#left
{
margin-left:20px; 
width:60%;
float:left;
position:relative;
}

#faculty
{
float:left;
}

#researchers
{
float:left;
}

#graduate
{
float:left;
}

#undergaduate
{
float:left;
}

#visiting
{
float:left;
width:860px;
}

#visiting a
{
color:#000000;
}

#visiting ul li a:hover
{
 color:#f3d64d;
}

#alumni
{
float:left;
width:860px;
}

#alumni a
{
color:#000000;
}

#alumni ul li a:hover
{
 color:#f3d64d;
}


#right
{ 
margin-left:20px;
width:30%;
float:left;
position:relative;
}

#right p
{
margin-left:10px;
}


tbody {
display: table-row-group;
vertical-align: middle;
border-color: inherit;
}

td
{
display: table-cell;
vertical-align: inherit;
}

#footnote
{
width:100%;
}

#footnote p
{
float:right;
margin-right:300px;
margin-top:-10px;
color:white;
font-size:10px;
}

#footnote ul
{ 
    float:right;
    list-style-type:none; 
    margin-right:220px;  
} 

#footnote ul li
{
    float:left; 
    margin-left:40px; 
}

#footnote ul li a
{ 
    text-decoration:none; 
    font-size:14px;
    color:white;
} 

#footnote ul li a:hover
{
 color:#f3d65a;
}




